{% extends 'base.html' %}
{% block content %}

{% for craft in object_list %}
<a href="{% url 'detail' craft.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ craft.name }}</span>
            <p>MANUFACTURER: {{ craft.manufacturer }}</p>
            <p>MODEL: {{ craft.model }}</p>
            <p>PRICE: {{ craft.sell_price }}</p>
            <p>MILEAGE: {{ craft.mileage }}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'favorite_create' craft.id %}">Save Craft</a>
            {% endif %}
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}