{% extends 'base.html' %}
{% block content %}
<h1>DETAIL <span class="teal-text">{{object.name}}</span></h1>
    <div class="card">
        <div class="card-content">
            <p>MANUFACTURER: {{ craft.manufacturer }}</p>
            <p>MODEL: {{ craft.model }}</p>
            <p>PRICE: {{ craft.sell_price }}</p>
            <p>MILEAGE: {{ craft.mileage }}</p>
            {% for photo in craft.photo_set.all %}
                <img class="responsive-img card-panel" src="{{photo.url}}">
            {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
        </div>
    </div>
<a href="">Back</a>
<!-- SEND BACK TO PAGE THAT ACCESSED FROM -->
{% endblock %}