{% extends 'base.html' %} {% block content %}
<h1>Edit</h1>



<div class="col s6">
  <form action="{% url 'edit' craft.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input name='url' value="{{url}}" type='hidden'>
    <!-- <label for="id_badges">Badges</label> -->
    <!-- <div class="select-wrapper">
      <select name="badges" multiple size="5" id="id_badges">
        {% for badge in badges %}
        <option value="{{badge.id}}">{{badge.name}}</option>
        {% endfor %}
      </select>
    </div>
    <input type="file" name="photo-file"> -->
    <input type="submit" class="btn" value="Add Craft">
  </form>
</div>


<script>
  const conditionEl = document.getElementById("id_condition");
  M.FormSelect.init(conditionEl);
</script>

{% endblock %}
