{% extends 'base.html' %}
{% block content %}

{% for fav in favs %}
<a href="{% url 'detail' fav.craft.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ fav.craft.name }}</span>
            <p>MANUFACTURER: {{ fav.craft.manufacturer }}</p>
            <p>MODEL: {{ fav.craft.model }}</p>
            <p>PRICE: {{ fav.craft.sell_price }}</p>
            <p>MILEAGE: {{ fav.craft.mileage }}</p>
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}