{% extends 'base.html' %}
{% block content %}

<div class="col s6">
  <form action="/create/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ craft_form.as_p }}
    <input name='url' value="{{url}}" type='hidden'>
    <input name='color' value="{{color}}" type='hidden'>
    <input name='black' value="{{black}}" type='hidden'>
    <label for="id_badges">Badges</label>
    <div class="select-wrapper">
      <select name="badges" multiple size="5" id="id_badges">
        {% for badge in badges %}
        <option value="{{badge.id}}">{{badge.name}}</option>
        {% endfor %}
      </select>
    </div>
    <input type="file" name="photo-file">
    <input type="submit" class="btn" value="Add Craft">
  </form>
</div>

<a href="javascript:history.back()">Go Back</a>

<script>
  const conditionEl = document.getElementById("id_condition");
  M.FormSelect.init(conditionEl);

  const badgesEl = document.getElementById("id_badges");
  M.FormSelect.init(badgesEl);
</script>

{% endblock %}