{% extends 'base.html' %}
{% block content %}

<a href="/search/" >ADD A CRAFT</a>

{% for craft in crafts %}
<div tabindex="-1" id="list_container">
    <div  tabindex="-1"id="list_flex">
        <div tabindex="-1" id="list_image_holder">
            <a href="{% url 'craft_update' craft.id %}"><img tabindex="-1" alt="Solid color craft image." id=list_image src={{craft.black}}></a>
        </div>
        <div tabindex="-1" id="list_text">
            <div tabindex="-1" id="list_model">{{craft.model}}</div>
            <div tabindex="-1" id="list_manufacturer">{{craft.manufacturer}}</div>
            <div tabindex="-1" id="list_sell_price">{{craft.sell_price}}</div>
            <div tabindex="-1" id="list_mileage">Mileage: {{ craft.mileage}}</div>
            <div tabindex="-1" id="list_data">
                <div tabindex="-1">{{ craft.condition}}</div>&nbsp;&nbsp;-&nbsp;&nbsp;
                <div tabindex="-1">{{ craft.hyperdrive_rating}}</div>&nbsp;&nbsp;-&nbsp;&nbsp;
                <div tabindex="-1">{{ craft.consumables}}</div>
            </div>
            <div tabindex="-1" id="list_fav">
                <div tabindex="-1"></div>
            </div>
            <div tabindex="-1" id="list_badge">
                {% if craft.badges.count %}
                {% for badge in craft.badges.all%}
                <img tabindex="-1" alt="Badge emblem." src={{badge.image}}>
                {% endfor %}
                {% else %}
                <div tabindex="-1">No Badges</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}