{% extends 'base.html' %}
{% block content %}

<a href="/search/" >ADD A CRAFT</a>

{% for craft in crafts %}
<div id="list_container">
    <div id="list_flex">
        <div id="list_image_holder">
            <a href="{% url 'craft_update' craft.id %}"><img id=list_image src={{craft.black}}></a>
        </div>
        <div id="list_text">
            <div id="list_model">{{craft.model}}</div>
            <div id="list_manufacturer">{{craft.manufacturer}}</div>
            <div id="list_sell_price">{{craft.sell_price}}</div>
            <div id="list_mileage">Mileage: {{ craft.mileage}}</div>
            <div id="list_data">
                <div>{{ craft.condition}}</div>&nbsp;&nbsp;-&nbsp;&nbsp;
                <div>{{ craft.hyperdrive_rating}}</div>&nbsp;&nbsp;-&nbsp;&nbsp;
                <div>{{ craft.consumables}}</div>
            </div>
            <div id="list_fav">
                <div></div>
            </div>
            <div id="list_badge">
                {% if craft.badges.count %}
                {% for badge in craft.badges.all%}
                <img src={{badge.image}}>
                {% endfor %}
                {% else %}
                <div>No Badges</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}