{% extends 'base.html' %}
{% block content %}

<h1>SAVED CRAFTS PAGE</h1>

{% for craft in posts %}
  <div>{{ craft.name }}</div>
  <div>{{ craft.manufacturer }}</div>
  <div>{{ craft.model }}</div>

<!-- <div class="card">
  <div class="card-content">
      <span class="card-title">{{ craft.name }}</span>
      <p>MANUFACTURER: {{ craft.manufacturer }}</p>
      <p>MODEL: {{ craft.model }}</p>
      <p>PRICE: {{ craft.sell_price }}</p>
      <p>MILEAGE: {{ craft.mileage }}</p>
  </div>
</div> -->
{% endfor %}

{% endblock %}

