{% extends 'base.html' %}
{% block content %}


{% for starship in starships %}
    {{starship.name}}
    <form method='POST' action="/form/" >
        {% csrf_token %}
        <input name='url' value="{{starship.url}}" type='hidden'>
        <button type="submit">Select</button>
    </form>
{% endfor %}

{% for vehicle in vehicles %}
    {{vehicle.name}}
    <form method='POST' action="/form/" >
        {% csrf_token %}
        <input name='url' value="{{vehicle.url}}" type='hidden'>
        <button type="submit">Select</button>
    </form>
{% endfor %}
<a href="javascript:history.back()">Go Back</a>

{% endblock %}