{% extends 'base.html' %}
{% block content %}


<div tabindex="-1" class="carousel" id="search_carousel">
    {% for starship in starships %}
    <a tabindex="1" class="carousel-item">
        <div tabindex="-1" id='search_img'><img tabindex="-1" alt="Craft image." id="search_image" src={{starship.color}}></div>
        <div tabindex="-1">{{starship.name}}</div>&nbsp;
        <form tabindex="-1" method='POST' action="/form/">
            {% csrf_token %}
            <input tabindex="-1" name='url' value="{{starship.url}}" type='hidden'>
            <input tabindex="-1" name='color' value="{{starship.color}}" type='hidden'>
            <input tabindex="-1" name='black' value="{{starship.black}}" type='hidden'>
            <button tabindex="1" type="submit">Select</button>
        </form>
    {% endfor %}
    </a>
</div>


<a href="javascript:history.back()">Go Back</a>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {
            numVisible: 2,
        });
    });
</script>

{% endblock %}