{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SpaceCrafts</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
  <header tabindex="-1" class="navbar-fixed">
    <nav tabindex="-1">
      <div tabindex="-1" class="nav-wrapper">
        <ul tabindex="-1">
          <li tabindex="-1"><a href="/" class="left brand-logo">&nbsp;&nbsp;SpaceCrafts</a></li>
        </ul>
        <ul tabindex="-1" class="right">
          {% if user.is_authenticated %}
            <li tabindex="-1"><a href="/crafts/" >&nbsp;&nbsp;My.Crafts</a></li>
            <li tabindex="-1"><a href="/favorite/" >&nbsp;&nbsp;My.Favs</a></li>
            <li tabindex="-1"><a href="{% url 'logout' %}">&nbsp;&nbsp;Log Out</a></li>
          {% else %}
            <li tabindex="-1"><a href="{% url 'signup' %}">Sign Up</a></li>
            <li tabindex="-1"><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer tabindex="-1" class="page-footer">
    <div tabindex="-1" class="right">All Rights Reserved, &copy; 2021 SpaceCrafts &nbsp;</div>
  </footer>
</body>
</html>