body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #94849B;
  font-family: 'Roboto', sans-serif;
  color: #2E3532
}

main {
  flex: 1 0 auto;
  margin: 0vmin 20vmin 0vmin 20vmin;
}

footer.page-footer {
  text-align: center;
  margin-top: 5vmin;
  height: 10vmin;
  color: #A0AAB2
}

.right > li > a{
  color: #C7CEDB;
  font-size: 3vmin;
}

.nav-wrapper > ul > li > a {
  color: #C7CEDB;
  font-weight: 600;
}

.card{
  background-color: rgba(117, 96, 20);
  color: white;
}

label{
  color:black;
}

.nav-wrapper, .page-footer {
  background-color: #2E3532;
}

#list_container {
  width: 70%;
  height: 28vmin;
  border: .5vmin solid black;
  border-radius: 5vmin;
  background-color: #C7CEDB;
  overflow: hidden;
  margin: auto;
  margin-top: 5vmin;
}

#list_flex {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

#list_text {
  padding: 1vmin 3vmin 2vmin 0;
  height: 28vmin;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
  grid-template-areas: 
  "model fav"
  "manufacturer manufacturer"
  "mileage mileage"
  "data data"
  "badge price"
}

#list_model {
  grid-area: model;
  font-size: 4vmin;
  font-weight: 500;
}

#list_manufacturer {
  grid-area: manufacturer;
  font-weight: 500;
}

#list_sell_price {
  grid-area: price;
  display: flex;
  justify-content: flex-end;
  padding-top: 1vmin;
  font-weight: 700;
  color: gray;
  font-size: 3vmin;
}

#list_mileage{
  grid-area: mileage;
}

#list_data{
  grid-area: data;
  display: flex;
}

#list_badge{
  grid-area: badge;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#list_badge > img {
  height: 4vmin;
  margin-right: 1vmin;
}

#list_fav{
  grid-area: fav;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1.2vmin;
}

#list_image_holder {
  width: 28vmin;
  padding:3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list_image {
  max-width:100%;
  max-height:100%;
}

.fav_button {
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  border: .3vmin solid black;
}

a {
  color: black;
}

#detail_badge{
  display: flex;
}

#search_carousel{
  margin: -20vmin 0 5vmin 20vmin;
  height: 100vmin;
  width: 140vmin;
}

#search_carousel > a {
  margin-top: -10vmin;
  width: 120vmin;
}

#search_img{
  height:60vmin;
  width:100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}



#search_image{
  max-width:100%;
  max-height:100%;
}

#login_container {
  border: .8vmin solid black;
  border-radius: 5vmin;
  width: 50vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vmin;
  padding: 2vmin;
  background-color: #C7CEDB;
}

#id_username {
  background-color: #94849B;
  border: .5vmin solid black;
  border-radius: 5vmin;
  padding-left: 2vmin;
  color: white;
  width: 38vmin;
  margin: 1vmin 2vmin 0 2vmin;
}

#id_password {
  background-color: #94849B;
  border: .5vmin solid black;
  border-radius: 5vmin;
  padding-left: 2vmin;
  color: white;
  width: 38vmin;
  margin: 1vmin 2vmin 0 2vmin;
}

.btn {
  background-color: #2E3532;
  border-radius: 5vmin;
}

#add {
  margin-left: 65vmin;
}











